<!-- Top Bar
============================================= -->
<div id="top-bar" class="hidden-xs">

    <div class="container clearfix">

        <div class="col_half nobottommargin">

            <p class="nobottommargin"><strong>Call:</strong> 1800-547-2145 | <strong>Email:</strong>
                customer.service@baraemcake.com</p>

        </div>

        <div class="col_half col_last fright nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <!--<li><a href="#">USD</a>-->
                    <!--<ul>-->
                    <!--<li><a href="#">EUR</a></li>-->
                    <!--<li><a href="#">AUD</a></li>-->
                    <!--<li><a href="#">GBP</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="#">EN</a>-->
                    <!--<ul>-->
                    <!--<li><a href="#"><img src="/vendor/canvas/images/icons/flags/french.png"-->
                    <!--alt="French"> FR</a></li>-->
                    <!--<li><a href="#"><img src="/vendor/canvas/images/icons/flags/italian.png"-->
                    <!--alt="Italian"> IT</a></li>-->
                    <!--<li><a href="#"><img src="/vendor/canvas/images/icons/flags/german.png"-->
                    <!--alt="German"> DE</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    {{#if login}}
                        <li><a href="/login/profile">내 계정</a>
                            <div class="top-link-section">
                                <form id="top-login" role="form" method="post" action="/login">
                                    <button id="header-logout-btn" class="btn btn-danger btn-block" type="submit">로그아웃
                                    </button>
                                </form>
                            </div>
                        </li>
                    {{else}}
                        <li><a href="/login">로그인</a>
                            <div class="top-link-section">
                                <form id="top-login" role="form" method="post" action="/login">
                                    <div class="input-group" id="top-login-username">
                                        <span class="input-group-addon"><i class="icon-user"></i></span>
                                        <input name="username" id="header-email" type="email" class="form-control"
                                               placeholder="이메일"
                                               required="">
                                    </div>
                                    <div class="input-group" id="top-login-password">
                                        <span class="input-group-addon"><i class="icon-key"></i></span>
                                        <input name="password" id="header-password" type="password" class="form-control"
                                               placeholder="비밀번호"
                                               required="">
                                    </div>
                                    <label class="checkbox">
                                        <input type="checkbox" value="remember-me"> 기억하기
                                    </label>
                                    <button id="header-login-btn" class="btn btn-danger btn-block" type="submit">로그인
                                    </button>
                                    <button id="header-register-btn" class="btn btn-primary btn-block" type="submit">
                                        회원가입
                                    </button>
                                </form>
                            </div>
                        </li>
                    {{/if}}
                </ul>
            </div><!-- .top-links end -->

        </div>

    </div>

</div><!-- #top-bar end -->

<!-- Header
============================================= -->
<header id="header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="/vendor/canvas/images/logo-dark.png"><img
                        src="/vendor/canvas/images/logo.png" alt="Canvas Logo"></a>
                <a href="/" class="retina-logo"
                   data-dark-logo="/vendor/canvas/images/logo-dark@2x.png"><img
                        src="/vendor/canvas/images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li class="current">
                        <a href="#">
                            <div>홈</div>
                        </a>
                    </li>
                    <!-- Mega Menu
                    ============================================= -->
                    <li class="mega-menu">
                        <a href="#">
                            <div>쇼핑하기</div>
                        </a>
                    </li><!-- .mega-menu end -->
                    <li>
                        <a href="#">
                            <div>블로그</div>
                        </a>
                    </li><!-- .mega-menu end -->
                    <li>
                        <a href="#">
                            <div>갤러리</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>소개</div>
                            <span>Awesome Works</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>연락처</div>
                            <span>Latest News</span>
                        </a>
                    </li>
                    <li><a href="#">
                        <div>자주하는 질문</div>
                    </a>
                    </li>
                </ul>

                <!-- Top Cart
                ============================================= -->
                <div id="top-cart">
                    <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
                    <div class="top-cart-content">
                        <div class="top-cart-title">
                            <h4>장바구니</h4>
                        </div>
                        <div class="top-cart-items">
                            {{#each cartProducts}}
                                <div class="top-cart-item clearfix">
                                    <div class="top-cart-item-image">
                                        <a href="#"><img src="{{largeImagePath}}"
                                                         alt="{{name}}"/></a>
                                    </div>
                                    <div class="top-cart-item-desc">
                                        <a href="#">{{name}}</a>
                                        <span class="top-cart-item-price">{{price}}</span>
                                        <span class="top-cart-item-quantity">{{curQuantity}}</span>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="top-cart-action clearfix">
                            <span class="fleft top-checkout-price">$114.95</span>
                            <button id="header-cart-btn" class="button button-3d button-small nomargin fright">장바구니 보기</button>
                        </div>
                    </div>
                </div><!-- #top-cart end -->

                <!-- Top Search
                ============================================= -->
                <!--<div id="top-search">-->
                <!--<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i-->
                <!--class="icon-line-cross"></i></a>-->
                <!--<form action="search.html" method="get">-->
                <!--<input type="text" name="q" class="form-control" value=""-->
                <!--placeholder="Type &amp; Hit Enter..">-->
                <!--</form>-->
                <!--</div>&lt;!&ndash; #top-search end &ndash;&gt;-->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->