<section id="page-title">

    <div class="container clearfix">
        <h1>장바구니</h1>
    </div>

</section><!-- #page-title end -->
<section id="content">
    <div class="content-wrap">

        <div class="container clearfix">

            <div id="processTabs">
                <ul class="process-steps process-3 bottommargin clearfix">

                    <!--<div class="line visible-xs"></div>-->

                    <!--<ul class="process-steps process-3 bottommargin clearfix">-->
                    <!--<li>-->
                    <!--<a id="" href="#ptab1" class="i-bordered i-rounded divcenter">1</a>-->
                    <!--<h5>장바구니 확인</h5>-->
                    <!--</li>-->
                    <!--<li class="active">-->
                    <!--<a href="#ptab2" class="i-rounded i-alt divcenter bgcolor">2</a>-->
                    <!--<h5>배송지 입력</h5>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#ptab3" class="i-bordered i-rounded divcenter">3</a>-->
                    <!--<h5>결제 방법 선택</h5>-->
                    <!--</li>-->
                    <!--</ul>-->

                    <li>
                        <a id="first-tab" href="#ptab1" class="i-rounded i-bordered i-alt divcenter">1</a>
                        <h5>장바구니 확인</h5>
                    </li>
                    <li>
                        <a href="#ptab2" class="i-rounded i-bordered i-alt divcenter">2</a>
                        <h5>배송지 입력</h5>
                    </li>
                    <li>
                        <a href="#ptab3" class="i-rounded i-bordered i-alt divcenter">3</a>
                        <h5>결제 방법 선택</h5>
                    </li>
                    <!--<li>-->
                    <!--<a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>-->
                    <!--<h5>결제 완료</h5>-->
                    <!--</li>-->
                </ul>
                <div>
                    <div id="ptab1">

                        <p>장바구니 상품들을 잘 확인하신 후 결제를 해주세요</p>

                        <div class="table-responsive">

                            <table class="table cart">
                                <thead>
                                <tr>
                                    <th class="cart-product-remove">&nbsp;</th>
                                    <th class="cart-product-thumbnail">&nbsp;</th>
                                    <th class="cart-product-name">상품 이름</th>
                                    <th class="cart-product-price">개당 가격</th>
                                    <th class="cart-product-quantity">수량</th>
                                    <th class="cart-product-subtotal">가격</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each cartProducts}}
                                    <tr class="cart_item">
                                        <td class="cart-product-remove">
                                            <a href="" class="remove" title="Remove this item"><i
                                                    class="icon-trash2"></i></a>
                                        </td>

                                        <td class="cart-product-thumbnail">
                                            <a href="#"><img width="64" height="64" src="{{largeImagePath}}"
                                                             alt="Pink Printed Dress"></a>
                                        </td>

                                        <td class="cart-product-name">
                                            <a href="#">{{name}}</a>
                                        </td>

                                        <td class="cart-product-price">
                                            <span class="amount">{{price}}</span>
                                        </td>

                                        <td class="cart-product-quantity">
                                            <div class="quantity clearfix">
                                                <input type="button" value="-" class="minus quantity-btn">
                                                <input type="text" step="1" min="1" name="quantity"
                                                       value="{{quantity}}" title="Qty" class="qty" size="4" readonly/>
                                                <input type="button" value="+" class="plus quantity-btn">
                                            </div>
                                        </td>

                                        <td class="cart-product-subtotal">
                                            <input type="hidden" class="product-id" value="{{_id}}">
                                            <span class="amount total-price-each-item">{{calculateTotal price quantity}}</span>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>

                            </table>

                            <div class="col-md-6">
                                <div class="fancy-title title-bottom-border">
                                    <h2>현재 보유 <span>포인트</span></h2>
                                </div>

                                <div class="col_full">
                                    <div class="fancy-title" style="text-align: center">
                                        <h3>현재 <span id="owned-points">{{user.points}}</span> 포인트 보유중 입니다</h3>
                                    </div>
                                </div>
                                <div class="col_two_third">
                                    <input type="text" id="input-points-to-use" class="sm-form-control" placeholder="사용하고 싶으신 포인트를 적어주세요">
                                </div>
                                <div class="col_one_third col_last">
                                   <a href="#" class="button button-border button-rounded" id="use-point-btn" style="margin: 0 !important;">포인트 적용하기</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <div class="fancy-title title-bottom-border">
                                        <h2>총 <span>결제</span> 내용</h2>
                                    </div>
                                    <table class="table cart">
                                        <tbody>
                                        <tr>
                                            <td class="notopborder cart-product-name">
                                                <strong>사용 포인트</strong>
                                            </td>

                                            <td class="notopborder cart-product-name">
                                                <span class="points-to-use">0</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart-product-name">
                                                <strong>배송비</strong>
                                            </td>

                                            <td class="cart-product-name">
                                                <span class="amount delivery-fee">0</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart-product-name">
                                                <strong>총 결제액</strong>
                                            </td>

                                            <td class="cart-product-name">
                                                <span class="color lead"><strong class="final-pay-amount">20000</strong></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                        <a href="#" class="button button-3d nomargin fright tab-linker" rel="2">배송지 입력하기</a>

                    </div>
                    {{#with user}}
                        <div id="ptab2">
                            <form id="billing-form">
                                <div class="col_full">
                                    <h5>배송지 잘못 입력시 바램떡은 책임지지 않습니다. 정확한 주소를 입력하셨는지 꼼꼼히 확인후 결제 해주세요.</h5>
                                </div>
                                <div class="col_full">
                                    <div class="title-block">
                                        <h4>
                                            보내는 사람
                                        </h4>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <label for="last-name-sender">성 : </label>
                                    <input type="text" id="last-name-sender" class="sm-form-control"
                                           placeholder="성을 입력해주세요" value="{{lastName}}">
                                </div>
                                <div class="col_half col_last">
                                    <label for="first-name-sender">이름 : </label>
                                    <input type="text" id="first-name-sender" class="sm-form-control"
                                           placeholder="이름을 입력해주세요" value="{{firstName}}">
                                </div>
                                <div class="col_full">
                                    <div class="title-block">
                                        <h4>
                                            받는 사람
                                        </h4>
                                    </div>
                                </div>
                                <div class="col_half">
                                    <label for="last-name-receiver">성 : </label>
                                    <input type="text" id="last-name-receiver" class="sm-form-control"
                                           placeholder="성을 입력해주세요" value="{{lastName}}">
                                </div>
                                <div class="col_half col_last">
                                    <label for="first-name-receiver">이름 : </label>
                                    <input type="text" id="first-name-receiver" class="sm-form-control"
                                           placeholder="이름을 입력해주세요" value="{{firstName}}">
                                </div>
                                <div class="col_full">
                                    <div class="col_two_third">
                                        <label for="register-form-address">주소:</label>

                                        <input type="text" id="register-form-address" name="register-form-address" value="{{searchAddress}}"
                                               class="sm-form-control" placeholder="주소 찾기를 눌러주세요" readonly/>
                                    </div>
                                    <div class="col_one_third col_last">
                                        <label for="register-form-post-code">우편번호 :</label>
                                        <input id="register-form-post-code" name="register-form-post-code" value="{{postCode}}" placeholder="주소찾기를 눌러주세요"
                                               class="sm-form-control"/>
                                    </div>
                                    <input type="text" id="register-form-additional-address"
                                           name="register-form-additional-address" value="{{additionalAddress}}"
                                           class="sm-form-control" style="margin-top: 5px" placeholder="추가 주소"/>
                                    <input class="button button-border button-small button-border-thin button-blue"
                                           onclick="sample3_execDaumPostcode()"
                                           style="text-align: center; margin: 5px 0 0 0 !important;" value="주소 찾기"
                                           readonly>
                                    <div id="wrap"
                                         style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                                        <img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png"
                                             id="btnFoldWrap"
                                             style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                                             onclick="foldDaumPostcode()" alt="접기 버튼">
                                    </div>
                                    <input type="hidden" id="register-form-post-code" name="register-form-post-code"
                                           value="{{postCode}}"
                                           class="form-control"/>
                                </div>
                                <div class="col_half">
                                    <label for="email">이메일 : </label>
                                    <input type="text" id="email" class="sm-form-control" placeholder="이메일을 입력해주세요"
                                           value="{{email}}">
                                </div>
                                <div class="col_half col_last">
                                    <label for="phone-number">전화번호 : </label>
                                    <input type="text" id="phone-number" class="sm-form-control"
                                           placeholder="전화번호를 입력해주세요" value="{{phoneNumber}}">
                                </div>
                            </form>
                            <div class="line"></div>
                            <a href="#" class="button button-3d nomargin tab-linker" rel="1">장바구니</a>
                            <a href="#" class="button button-3d nomargin fright tab-linker" rel="3">결제하러 가기</a>
                        </div>
                    {{/with}}
                    <div id="ptab3">
                        <div class="col_full">
                            <h5>결제후 결제완료 페이지로 이동하기 전까지 절대로 페이지를 닫거나 새로고침 하지 마세요.</h5>
                            <h5>결제후 결제완료 페이지가 보이지 않을시 본사로 연락 부탁드립니다. (결제취소 제외)</h5>
                        </div>
                        <div class="col_one_fourth">
                            <div class="title-block">
                                <h4>
                                    카카오 페이
                                </h4>
                            </div>
                            <a class="payment-anchor-kakao" href="#"><img class="pay-img"
                                                                          src="/images/kakao_pay_img.png"></a>
                        </div>
                        <div class="col_one_fourth">
                            <div class="title-block">
                                <h4>
                                    네이버 페이
                                </h4>
                            </div>
                            <a class="payment-anchor-naver" href="#"><img class="pay-img"
                                                                          src="/images/naver_pay_img.jpg"></a>
                        </div>
                        <div class="col_one_fourth">
                            <div class="title-block">
                                <h4>
                                    카드결제
                                </h4>
                            </div>
                            <a class="payment-anchor-card" href="#"><img class="pay-img" src="/images/card_pay_img.png"></a>
                        </div>
                        <div class="col_one_fourth col_last">
                            <div class="title-block">
                                <h4>
                                    핸드폰 결제
                                </h4>
                            </div>
                            <a class="payment-anchor-phone button button-large button-border button-rounded tright" href="#" style="height: 51px; line-height: 51px; text-align: center">핸드폰 결제</a>
                        </div>
                        <div class="line"></div>
                        <a href="#" class="button button-3d nomargin tab-linker" rel="2">배송지 입력하기</a>
                    </div>
                    <!--<div id="ptab4">-->
                    <!--<div class="alert alert-success">-->
                    <!--<strong>Thank You.</strong> Your order will be processed once we verify the Payment.-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>


        </div>
    </div>
</section>