{{#with product}}

    <section id="content">

        <div class="content-wrap nobottommargin" style="padding-bottom: 0 !important;">

            <div class="container clearfix">

                <div class="single-product">

                    <div class="product">

                        <div class="col_two_fifth">

                            <!-- Product Single - Gallery
                            ============================================= -->
                            <div class="product-image">
                                <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                    <div class="flexslider">
                                        <div class="slider-wrap" data-lightbox="gallery">
                                            {{#each detailsImagePath}}
                                                <div class="slide"
                                                     data-thumb="{{this}}"><a
                                                        href="{{this}}"
                                                        title="{{../name}}"
                                                        data-lightbox="gallery-item"><img
                                                        src="{{this}}"
                                                        alt="{{../name}}"></a></div>
                                            {{/each}}

                                        </div>
                                    </div>
                                </div>
                            </div><!-- Product Single - Gallery End -->

                        </div>

                        <div class="col_two_fifth product-desc">

                            <!-- Product Single - Price
                            ============================================= -->
                            <div class="product-price">
                                {{name}}
                            </div><!-- Product Single - Price End -->

                            <!-- Product Single - Rating
                            ============================================= -->
                            <div class="product-price" style="float: right;">
                                <strike>&#8361; {{origPrice}}</strike> &#8361; {{price}} <span style="font-size: small; color: #f44242;">{{points}}% 적립</span>

                            </div><!-- Product Single - Rating End -->


                            <div class="clear"></div>
                            <div class="line"></div>

                            <!-- Product Single - Quantity & Cart Button
                            ============================================= -->
                            <form class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>
                                <div class="quantity clearfix">
                                    <input type="button" value="-" class="minus quantity-btn">
                                    <input id="quantity-number" type="text" step="1" min="1" name="quantity"
                                           value="{{../quantity}}" title="Qty"
                                           class="qty"/>
                                    <input type="button" value="+" class="plus quantity-btn">
                                    <input type="hidden" value="{{_id}}" id="product-id">
                                </div>
                                <!--<div class="ld-over">-->
                                <button id="update-cart-btn" class="add-to-cart button nomargin ld-over">장바구니에 추가하기
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                                <!--</div>-->
                            </form><!-- Product Single - Quantity & Cart Button End -->

                            <div class="clear"></div>
                            <div class="line"></div>

                            <!-- Product Single - Short Description
                            ============================================= -->
                            {{{newLineToHtml overviewComments}}}
                            <ul class="iconlist">
                                <!--<li><i class="icon-caret-right"></i> Dynamic Color Options</li>-->
                                <!--<li><i class="icon-caret-right"></i> Lots of Size Options</li>-->
                                <!--<li><i class="icon-caret-right"></i> 30-Day Return Policy</li>-->
                            </ul><!-- Product Single - Short Description End -->

                            <!-- Product Single - Meta
                            ============================================= -->
                            <div class="panel panel-default product-meta">
                                <div class="panel-body">
                                    <span itemprop="productID" class="sku_wrapper">제품 ID: <span
                                            class="sku">{{_id}}</span></span>
                                    <span class="posted_in">박스내 수량: <span class="sku">{{additionalInfo.quantity}}
                                        개</span></span>
                                    <span class="tagged_as">개당 무게: <span
                                            class="sku">{{additionalInfo.weight}}g</span></span>
                                </div>
                            </div><!-- Product Single - Meta End -->

                            <!-- Product Single - Share
                            ============================================= -->
                            <div class="si-share noborder clearfix">
                                <span>SNS 바로가기:</span>
                                <div>
                                    <a href="#" class="social-icon si-borderless si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-pinterest">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-rss">
                                        <i class="icon-rss"></i>
                                        <i class="icon-rss"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-email3">
                                        <i class="icon-email3"></i>
                                        <i class="icon-email3"></i>
                                    </a>
                                </div>
                            </div><!-- Product Single - Share End -->

                        </div>

                        <div class="col_one_fifth col_last">

                            <!--<a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade"-->
                            <!--src="/images/logo.png"-->
                            <!--alt="Brand Logo"></a>-->

                            <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                            <div class="feature-box fbox-plain fbox-dark fbox-small">
                                <div class="fbox-icon">
                                    <i class="icon-thumbs-up2"></i>
                                </div>
                                <h3>100% 맛 보장</h3>
                                <p class="notopmargin">저희만의 비법으로 만든 독특하고 달콤한 맛을 보장해드립니다</p>
                            </div>

                            <div class="feature-box fbox-plain fbox-dark fbox-small">
                                <div class="fbox-icon">
                                    <i class="icon-credit-cards"></i>
                                </div>
                                <h3>결제 수단</h3>
                                <p class="notopmargin">카드결제, 핸드폰결제, 카카오페이, 네이버페이 등등 원하시는 방식을통해 신속하고 간편하게 결제가 가능하십니다.</p>
                            </div>

                            <div class="feature-box fbox-plain fbox-dark fbox-small">
                                <div class="fbox-icon">
                                    <i class="icon-truck2"></i>
                                </div>
                                <h3>무료 배달</h3>
                                <p class="notopmargin">35,000원 이상 결제시에 무료로 배송을 해드립니다.</p>
                            </div>

                            <!--<div class="feature-box fbox-plain fbox-dark fbox-small">-->
                                <!--<div class="fbox-icon">-->
                                    <!--<i class="icon-undo"></i>-->
                                <!--</div>-->
                                <!--<h3>포인트 적립 시스템</h3>-->
                                <!--<p class="notopmargin">바램떡을 구매하실때마다 다음 구매시 사용할수 있는 포인트를 적립해 드립니다.</p>-->
                            <!--</div>-->

                        </div>

                    </div>

                </div>

                <div class="clear"></div>
                <div class="line"></div>

            </div>

            <div class="full-width full-screen dark"
                 style="background: url('/images/logo.jpg') no-repeat center; background-size: cover ">

                <div class="container clearfix"
                     style="display: flex; flex-direction: column; justify-content: center; height: inherit;">
                </div>
            </div>


            <div class="full-width full-screen dark"
                 style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('{{detailsImagePath.[0]}}') no-repeat center; background-size: cover ">

                <div class="container clearfix"
                     style="display: flex; flex-direction: column; justify-content: center; height: inherit;">
                    <div class="slider-caption slider-caption-center" style="position: relative;">
                        <div>
                            <!--<h2>큰글씨</h2>-->
                            <p>{{{newLineToHtml overviewComments}}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-width full-screen dark"
                 style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('{{detailsImagePath.[1]}}') no-repeat center; background-size: cover ">

                <div class="container clearfix"
                     style="display: flex; justify-content: center; flex-direction: column; height: inherit;">
                    <div style="display: flex; justify-content: center;">
                        <div class="row">

                            <div class="col-md-6">

                                <div class="title-block" style="margin-bottom: 90px;">
                                    <h1>떡 <span>배송</span>정보</h1>
                                    <span style="color: white !important;">평일 오전 4시 이전 주문 완료 시 당일 발송, 익일 도착</span>
                                </div>
                                <div style="font-size: 1.6em;">
                                    <p>택배는 도착시간 지정이 불가능하며 토, 일요일에는 발송하지 않으니 월요일 도착도 불가능합니다.</p>
                                    <p>배송일 많을 경우 2~3일 걸릴 수도 있으나 냉동상태에서 아이스 보냉처리하여 보내 드리기 때문에 2~3일 소요되어도 신선도에는 전혀 문제가 없으니
                                        양해 바랍니다</p>
                                    <p>하절기( 8월 ~ 9월 )에는 도서산간 지방 및 제주도 지역은 발송하지 않습니다 (10월 부터 배송재개)</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-block" style="margin-bottom: 90px;">
                                    <h1>떡 <span>포장</span>안내</h1>
                                    <span style="color: white !important;">하절기엔 아이스팩과 함께 포장되어 발송됩니</span>
                                </div>
                                <div style="font-size: 1.6em;">
                                    <p>이미 냉동 한 떡이므로 해동 후 재 냉동 마시길 바랍니다</p>
                                    <p>본 제품은 소비자 분쟁 해결 기준에 의거 교환하거나 환불 받을 수 있습니다</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="full-width full-screen dark"
                 style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('{{detailsImagePath.[2]}}') no-repeat center; background-size: cover ">

                <div class="container clearfix"
                     style="display: flex; justify-content: center; flex-direction: column; height: inherit;">
                    <div style="display: flex; justify-content: center;">
                        <div class="col_full">
                            <div class="title-block" style="margin-bottom: 90px;">
                                <h1>떡을 <span>맛있게</span>드시는 방법</h1>
                                <span style="color: white !important;">바램떡을 보다 맛있게 드시는 방법입니다</span>
                            </div>
                            <div style="font-size: 1.6em;">
                                <p>택배를 받은 후 바로 드시지 않을 경우에는 냉동 보관해 주십시요</p>
                                <p>드실 양만큼 따로 덜어 내어 상온에서 20~30분 자연 해동해서 드시면 더욱 맛있습니다</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #content end -->
{{/with}}
