<section id="page-title">

    <div class="container clearfix">
        <h1>프로필</h1>
    </div>

</section><!-- #page-title end -->
<section id="content">

    <div class="content-wrap">
        {{#with user}}

        <div class="container clearfix">
            <div class="col-sm-9">

                <div class="tabs tabs-alt tabs-responsive clearfix">

                    <ul class="tab-nav clearfix">
                        <li><a href="#tab-responsive-1">계정 정보</a></li>
                        <li><a href="#tab-responsive-2">구매 내역</a></li>
                        <li><a href="#tab-responsive-3">포인트 내역</a></li>
                    </ul>

                    <div class="tab-container">

                        <div class="tab-content clearfix" id="tab-responsive-1">
                            <form id="profile-form">
                                <div class="col_half">
                                    <label for="last-name">성 : </label>
                                    <input type="text" id="first-name" name="last-name" class="sm-form-control" value="{{lastName}}" readonly>
                                </div>
                                <div class="col_half col_last">
                                    <label for="first-name">이름 : </label>
                                    <input type="text" id="first-name" name="first-name" class="sm-form-control" value="{{firstName}}" readonly>
                                </div>
                                <div class="col_full">
                                    <label for="phoneNumber">전화번호 : </label>
                                    <input type="text" id="phoneNumber" name="phoneNumber" class="sm-form-control" value="{{phoneNumber}}" readonly>
                                </div>
                                <div class="col_full">
                                    <label for="email">이메일: </label>
                                    <input type="text" id="email" name="email" class="sm-form-control" value="{{email}}" readonly>
                                </div>
                                <div class="col_full">
                                    <label for="searchAddress">주소 : </label>
                                    <input type="text" id="searchAddress" name="searchAddress" class="sm-form-control" value="{{searchAddress}}">
                                </div>
                                <div class="col_full">
                                    <label for="additionalAddress">추가 주소 :</label>
                                    <input type="text" id="additionalAddress" name="additionalAddress" class="sm-form-control" value="{{additionalAddress}}">
                                </div>
                            </form>
                        </div>
                        <div class="tab-content clearfix" id="tab-responsive-2">
                            Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa
                            metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada,
                            metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem.
                            Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing
                            adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere
                            viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus
                            pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis.
                            Mauris
                            consectetur tortor et purus.
                        </div>
                        <div class="tab-content clearfix" id="tab-responsive-3">
                            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede
                                vel
                                vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non
                                ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu
                                risus
                                hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus
                                a,
                                lacus.</p>
                            Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac
                            lacus.
                            Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit.
                            Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id
                            euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo.
                            Ut
                            sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean
                            vehicula
                            velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus.
                            Vivamus a libero vitae lectus hendrerit hendrerit.
                        </div>
                        <!--<div class="tab-content clearfix" id="tab-responsive-4">-->
                            <!--Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare-->
                            <!--consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat.-->
                            <!--Pellentesque-->
                            <!--convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis,-->
                            <!--eu-->
                            <!--ornare leo nisi vel felis. Mauris consectetur tortor et purus.-->
                        <!--</div>-->

                    </div>

                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
        {{/with}}
    </div>
</section>